<section>
  <div class="container">

    <h2>Почему выбирают нас</h2>

    <ul class="list">

      <li class="item">
        <h3>Доставки по всей России</h3>
        <p>
          Техпомощь гарантированно приедет и поможет, где бы вы не находились.
        </p>
      </li>

      <li class="item">
        <h3>Работаем 24/7</h3>
        <p>
          Предоставляем услуги круглосуточно, без выходных
        </p>
      </li>

      <li class="item">
        <h3>Эвакуируем из Европы</h3>
        <p>
          Сможем эвакуировать Вас из любого уголка Европы. Даже во времена ограниченых передвижений
        </p>
      </li>

      <li class="item">
        <h3>6 посадочных мест </h3>
        <p>
          Наш эвакуатор имеет 6 посадочных мест. Сможет забрать не только автомобиль
          но и пассажиров
        </p>
      </li>

    </ul>

    <div class="wrapper">
      <div class="content">
        <h3>Перевозка автомобилей, мотоциклов и др. техники в/из РФ, Европу, Калининград. </h3>

        <p>Ни один водитель не застрахован от случайных неприятностей. Представьте себе: вы едете на деловую встречу и
          тут у вас пробило колесо или слетает ремень генератора. Что делать в данной ситуации? Можно попросить
          отбуксировать вас к ближайшей станции технического обслуживания, но не каждый согласится вам помочь.
          В таких случаях в можете обратиться к нам! Мы предоставляем услуги эвакуатора в Калининграде. Наш эвакуатор
          приедет в любое место
          в любое время.
        </p>

        <p>
          У нас самые низкие цены на услуги эвакуатора в Калининграде. У нас в наличии есть помимо обычных эвакуаторов,
          грузовые эвакуаторы и эвакуаторы манипуляторы.
        </p>

        <p>
          Мы готовы помочь в любой ситуации и в любое время. Вам нужно связаться с нашим диспетчером и сообщить где вы
          находитесь и марку автомобиля. Диспетчер, в свою очередь, сообщит вам цену и приблизительное время прибытия.
        </p>

      </div>
      <div class="slider">
        <ul>
          <li>
            <img src="img/car.jpg" alt="cargo transportation" width="690">
          </li>
        </ul>
        <ul class="pagination">
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
        </ul>
      </div>
    </div>

  </div>
</section>
